# Prerequisites

*.d

# Object files

*.o
*.ko
*.obj
*.elf

# Linker output

*.ilk
*.map
*.exp

# Precompiled Headers

*.gch
*.pch

# Libraries

*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)

*.dll
*.so
*.so.*
*.dylib

# Executables

*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files

*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results

*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# Eclipse files

.settings/
.cproject
.project

# Program output folders

out/
.build-log

# Node modules

emuciaa/node_modules/
emuciaa/package-lock.json
mbedos_simulator/node_modules/
mbedos_simulator/package-lock.json

# C user program compilation output folders

emuciaa/outUser/
mbedos_simulator/out/

# C lib compilation output files

emuciaa/hal/cfiles.cache
emuciaa/hal/deploy.cache
emuciaa/hal/directories.cache
emuciaa/hal/libc.bc

mbedos_simulator/hal/cfiles.cache
mbedos_simulator/hal/deploy.cache
mbedos_simulator/hal/directories.cache
mbedos_simulator/hal/libc.bc

